<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
          <div class="col-xl-6">
            <h2 class="page-header">
                Technology
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0);" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Technologies
                </li>
            </ol>
          </div>
          <div class="col-xl-6" style="text-align: right">
            <button class="btn btn-primary" (click)="showCreateModal()"><i class="fa fa-plus" style="padding-right: 5px"></i> Create</button>
          </div>
        </div>
    </div>

        <div class="row">
            <div class="card card-block col-xl-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tech of technologies; let i = index" class="table-row">
                                <th scope="row">{{i+1}}</th>
                                <td>{{tech.get(techKeys.name)}}</td>
                                <td>{{tech.get(techKeys.des)}}</td>
                                <td>
                                  <i (click)="showUpdateModal(tech.id)" class="fa fa-edit main-color-organ icon-edit"></i>
                                  <i (click)="showDeleteModal(tech.id)" class="fa fa-remove main-color-red"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>


<!--START Modal Create new technology-->
<div bsModal #TechnologyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="TechnologyModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{modalTitle}}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name: </label>
            <div class="col-sm-9"><input class="form-control" name="techName" [(ngModel)]="techName" placeholder="Technology name"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Description: </label>
            <div class="col-sm-9"><input class="form-control"  name="techDes" [(ngModel)]="techDes" placeholder="Technology description"></div>
          </div>
          <div style="text-align: right;">
            <button type="button" class="btn btn-secondary" (click)="TechnologyModal.hide()" aria-hidden="true">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveTech()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END Modal Create new technology-->

<!--START Modal Confirm delete-->
<div bsModal #ConfirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="ConfirmDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Delete item</h5>
      </div>
      <div class="modal-body">
        <form>
          Are you sure to delete this item?
          <div style="text-align: right;">
            <button type="button" class="btn btn-secondary" (click)="ConfirmDeleteModal.hide()" aria-hidden="true">Close</button>
            <button type="button" class="btn btn-danger" (click)="destroyTechnology()">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END Modal Modal Confirm delete-->

