<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-xl-12">
      <div class="col-xl-6">
        <h2 class="page-header">
          Projects
        </h2>
        <!--<ol class="breadcrumb">-->
          <!--<li>-->
            <!--<i class="fa fa-dashboard"></i> <a href="Javascript:void(0);" routerLink="/dashboard/home">Dashboard</a>-->
          <!--</li>-->
          <!--<li class="active">-->
            <!--<i class="fa fa-table"></i> Projects-->
          <!--</li>-->
        <!--</ol>-->
      </div>
      <div class="col-xl-6" style="text-align: right">
        <button class="btn btn-primary" (click)="ProjectModal.show()"><i class="fa fa-plus"
                                                                         style="padding-right: 5px"></i> Create project
        </button>
      </div>
    </div>
  </div>

  <!-- /.row -->
  <div class="row">
    <!--<div class="card col-xl-12" style="border: 0px; text-align: right">-->
    <!--<button class="btn btn-primary" type="button">Create project</button>-->
    <!--</div>-->
    <div class="card col-xl-12" style="border: 0px">
      <div class="col-xl-2">
        <ng-select
          [multiple]="false"
          [items]="pmList"
          (selected)="pmFilterSelected($event)"
          placeholder="PM"></ng-select>
      </div>
      <div class="col-xl-2">
        <ng-select
          [multiple]="false"
          [items]="baList"
          (selected)="baFilterSelected($event)"
          placeholder="BA"></ng-select>
      </div>
      <div class="col-xl-2">
        <ng-select
          [multiple]="false"
          [items]="devList"
          (selected)="devFilterSelected($event)"
          placeholder="DEV"></ng-select>
      </div>
      <div class="col-xl-2">
        <ng-select
          [multiple]="false"
          [items]="cusList"
          (selected)="cusFilterSelected($event)"
          placeholder="Customer"></ng-select>
      </div>
      <div class="col-xl-2">
        <ng-select
          [multiple]="false"
          [items]="statusList"
          (selected)="statusSelected($event)"
          placeholder="Status"></ng-select>
      </div>
      <div class="col-xl-2">
        <ng-select
          [multiple]="false"
          [items]="techList"
          (selected)="techFilterSelected($event)"
          placeholder="Technology"></ng-select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card card-block col-xl-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Customer</th>
            <th>PM</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let project of projects; let i = index" class="table-row">
            <th scope="row" (click)="showProjectDetail(project.id)">{{i+1}}</th>
            <td (click)="showProjectDetail(project.id)">{{project.get(projectKeys.name)}}</td>
            <td (click)="showProjectDetail(project.id)">{{project.cusMultiMerge}}</td>
            <td (click)="showProjectDetail(project.id)">{{project.pmMultiMerge}}</td>
            <td (click)="showProjectDetail(project.id)">{{ project.get(projectKeys.startAt) | date: 'dd-MMM-yyyy' }}</td>
            <td (click)="showProjectDetail(project.id)">{{ project.get(projectKeys.endAt) | date: 'dd-MMM-yyyy' }}</td>
            <td (click)="showProjectDetail(project.id)"><span class="label label-info">{{project.get("status")}}</span></td>
            <td><i (click)="showUpdateModal(project.id)" class="fa fa-edit main-color-organ icon-edit"></i><i
              (click)="showDeleteModal(project.id)" class="fa fa-remove main-color-red"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--START Modal Create new project-->
<div bsModal #ProjectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="ProjectModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{modalTitle}}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Project name: </label>
            <div class="col-sm-9"><input class="form-control" name="projectName" [(ngModel)]="projectName"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Customer: </label>
            <div class="col-sm-9">
              <ng-select
                [active] = "cusListValue"
                [multiple]="true"
                [items]="cusList"
                (removed)="cusFormRemove($event)"
                (selected)="cusFormSelected($event)"
                placeholder="Customer"></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Project manager: </label>
            <div class="col-sm-9">
              <ng-select
                [active] = "pmListValue"
                [multiple]="true"
                [items]="pmList"
                (removed)="pmFormRemove($event)"
                (selected)="pmFormSelected($event)"
                placeholder="PM"></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Business analysis: </label>
            <label class="col-sm-3 col-form-label" style="padding-left: 50px">+ Estimate: </label>
            <div class="col-sm-9">
              <ng-select
                [active] = "baEstListValue"
                [multiple]="true"
                [items]="baList"
                (removed)="baEstRemove($event)"
                (selected)="baEstSelected($event)"
                placeholder="BA"></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style="padding-left: 50px">+ BA: </label>
            <div class="col-sm-9">
              <ng-select
                [active] = "baBaListValue"
                [multiple]="true"
                [items]="baList"
                (removed)="baBaRemove($event)"
                (selected)="baBaSelected($event)"
                placeholder="BA"></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Developer: </label>
            <label class="col-sm-3 col-form-label" style="padding-left: 50px">+ Estimate: </label>
            <div class="col-sm-9">
              <ng-select
                [active] = "devEstListValue"
                [multiple]="true"
                [items]="devList"
                (removed)="devEstRemove($event)"
                (selected)="devEstSelected($event)"
                placeholder="DEV"></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style="padding-left: 50px">+ Dev: </label>
            <div class="col-sm-9">
              <ng-select
                [active] = "devDevListValue"
                [multiple]="true"
                [items]="devList"
                (removed)="devDevRemove($event)"
                (selected)="devDevSelected($event)"
                placeholder="DEV"></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Quality control: </label>
            <div class="col-sm-9">
              <ng-select
                [active] = "qcListValue"
                [multiple]="true"
                [items]="qcList"
                (removed)="qcRemove($event)"
                (selected)="qcSelected($event)"
                placeholder="QC"></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Start date: </label>
            <div class="col-sm-9"><input class="form-control" type="date" name="projectStartDate"
                                         [(ngModel)]="projectStartDate"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">End date: </label>
            <div class="col-sm-9"><input class="form-control" type="date" name="projectEndDate"
                                         [(ngModel)]="projectEndDate"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Technology: </label>
            <div class="col-sm-9">
              <ng-select
                [active] = "techListValue"
                [multiple]="true"
                [items]="techList"
                (removed)="techFormRemove($event)"
                (selected)="techFormSelected($event)"
                placeholder="Technology"></ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Platform: </label>
            <div class="col-sm-9">
              <ng-select
                [active] = "platformListValue"
                [multiple]="true"
                [items]="platformList"
                (removed)="platformFormRemove($event)"
                (selected)="platformFormSelected($event)"
                placeholder="Platform"></ng-select>
            </div>
          </div>
          <div style="text-align: right;">
            <button type="button" class="btn btn-secondary" (click)="ProjectModal.hide()" aria-hidden="true">Close
            </button>
            <button type="button" class="btn btn-primary" (click)="saveProject()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END Modal Create new project-->

<!--START Modal Confirm delete-->
<div bsModal #ConfirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="ConfirmDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Delete item</h5>
      </div>
      <div class="modal-body">
        <form>
          Are you sure to delete this item?
          <div style="text-align: right;">
            <button type="button" class="btn btn-secondary" (click)="ConfirmDeleteModal.hide()" aria-hidden="true">
              Close
            </button>
            <button type="button" class="btn btn-danger" (click)="destroyProject()">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END Modal Modal Confirm delete-->

