<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
          <div class="col-xl-6">
            <h2 class="page-header">
                Customers
            </h2>
          </div>
          <div class="col-xl-6" style="text-align: right">
            <button class="btn btn-primary" (click)="showCreateModal()"><i class="fa fa-plus" style="padding-right: 5px"></i> Create</button>
          </div>
        </div>
    </div>

    <!-- /.row -->
    <div class="row">
            <div class="card card-block col-xl-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Company</th>
                                <th>Email</th>
                                <th>Skype</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Country</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cus of customers; let i = index" class="table-row">
                                <th scope="row">{{i+1}}</th>
                                <td>{{cus.get(cusKeys.name)}}</td>
                                <td>{{cus.get(cusKeys.company)}}</td>
                                <td>{{cus.get(cusKeys.email)}}</td>
                                <td>{{cus.get(cusKeys.skype)}}</td>
                                <td>{{cus.get(cusKeys.phone)}}</td>
                                <td>{{cus.get(cusKeys.address)}}</td>
                                <td>{{cus.get(cusKeys.country)}}</td>
                                <td>
                                  <i (click)="showUpdateModal(cus.id)" class="fa fa-edit main-color-organ icon-edit"></i>
                                  <i (click)="showDeleteModal(cus.id)" class="fa fa-remove main-color-red"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>


<!--START Modal Create new customer-->
<div bsModal #CreateCustomerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="CreateCustomerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{modalTitle}}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name: </label>
            <div class="col-sm-9"><input class="form-control" name="cusName" [(ngModel)]="cusName" placeholder="Name"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Company: </label>
            <div class="col-sm-9"><input class="form-control" name="cusCompany" [(ngModel)]="cusCompany" placeholder="Company"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Email: </label>
            <div class="col-sm-9"><input class="form-control" name="cusEmail" [(ngModel)]="cusEmail" placeholder="Email"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Skype: </label>
            <div class="col-sm-9"><input class="form-control" name="cusSkype" [(ngModel)]="cusSkype" placeholder="Skype"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Phone: </label>
            <div class="col-sm-9"><input class="form-control" name="cusPhone" [(ngModel)]="cusPhone" placeholder="Phone"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Address: </label>
            <div class="col-sm-9"><input class="form-control" name="cusAddress" [(ngModel)]="cusAddress" placeholder="Address"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Country: </label>
            <div class="col-sm-9"><input class="form-control" name="cusCountry" [(ngModel)]="cusCountry" placeholder="Country"></div>
          </div>
          <div style="text-align: right;">
            <button type="button" class="btn btn-secondary" (click)="CreateCustomerModal.hide()" aria-hidden="true">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveCustomer()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END Modal Create new customers-->

<!--START Modal Confirm delete-->
<div bsModal #ConfirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="ConfirmDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Delete item</h5>
      </div>
      <div class="modal-body">
        <form>
          Are you sure to delete this item?
          <div style="text-align: right;">
            <button type="button" class="btn btn-secondary" (click)="ConfirmDeleteModal.hide()" aria-hidden="true">Close</button>
            <button type="button" class="btn btn-danger" (click)="destroyCustomer()">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END Modal Modal Confirm delete-->

