<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-xl-12">
      <div class="col-xl-6">
        <h2 class="page-header">
          Project Detail
        </h2>
      </div>
      <div class="col-xl-6" style="text-align: right">
        <button class="btn btn-primary"><i class="fa fa-upload"></i></button>
        <button class="btn btn-primary">Close with success</button>
        <button class="btn btn-primary">Close with fail</button>
      </div>
    </div>
  </div>

  <!-- /.row -->
  <div class="row">
    <div class="card card-block col-xl-12">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="form-control-label">Customer:</th>
            <th class="form-control-label">Project manager:</th>
            <th class="form-control-label"></th>
          </tr>
          <tr>
            <th class="form-control-label">Business analysis</th>
            <th class="form-control-sub-label"></th>
            <th class="form-control-sub-label"></th>
          </tr>
          <tr>
            <th class="form-control-label"></th>
            <th class="form-control-sub-label">Estimates:</th>
            <th class="form-control-sub-label">BA:</th>
          </tr>
          <tr>
            <th class="form-control-label">Developer:</th>
            <th class="form-control-sub-label"></th>
            <th class="form-control-sub-label"></th>
          </tr>
          <tr>
            <th class="form-control-label"></th>
            <th class="form-control-sub-label">Estimates:</th>
            <th class="form-control-sub-label">Dev:</th>
          </tr>
          <tr>
            <th class="form-control-label">Quality control:</th>
            <th class="form-control-label"></th>
            <th class="form-control-label"></th>
          </tr>
          <tr>
            <th class="form-control-label">Technology:</th>
            <th class="form-control-label">Platform:</th>
            <th class="form-control-label"></th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
