<div class="container-fluid" style="background-color: #ECEFF1;">
      <div class="row">
        <div class="col-lg-3" style="background-color: white;">

            <form role="form">
                <fieldset class="form-group">
                    <label><h2>Socialobe</h2></label>
                    <i class="fa fa-pencil" style="padding-left: 30px"></i>
                </fieldset>

                <table class="table-social">
                    <tr>
                      <td> <label class="form-control-label"></label> </td>
                      <td> <button type="submit" class="btn btn-warning">In Process</button> </td>
                    </tr>

                    <tr>
                        <td> <label class="form-control-label">Customer</label> </td>
                        <td> <label class="form-default-label">Alec</label> </td>
                    </tr>
                    <tr>
                        <td> <label class="form-control-label">Project manager</label> </td>
                        <td> <label class="form-default-label"> Khang Tran</label> </td>
                    </tr>
                    <tr>
                        <td> <label class="form-control-label">Business analysis</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-sub-label">+ Estimates </label> </td>
                      <td> <label class="form-default-label">Nguyen Du</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-sub-label"> </label> </td>
                      <td> <label class="form-default-label">Kim Tran</label> </td>
                    </tr>

                    <tr>
                      <td> <label class="form-control-sub-label">+ BA </label> </td>
                      <td> <label class="form-default-label">Nguyen Du</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-sub-label"> </label> </td>
                      <td> <label class="form-default-label">Kim Tran</label> </td>
                    </tr>

                    <tr>
                      <td> <label class="form-control-sub-label"> </label> </td>
                      <td> <label class="form-default-label">Khanh Nguyen</label> </td>
                    </tr>

                    <tr>
                      <td> <label class="form-control-sub-label"> </label> </td>
                      <td> <label class="form-default-label">Tuyet Bui</label> </td>
                    </tr>

                    <tr>
                        <td> <label class="form-control-label">Developer</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-sub-label">+ Estimates </label> </td>
                      <td> <label class="form-default-label">Nguyen Du</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-sub-label"> </label> </td>
                      <td> <label class="form-default-label">Kim Tran</label> </td>
                    </tr>

                    <tr>
                      <td> <label class="form-control-sub-label">+ BA </label> </td>
                      <td> <label class="form-default-label">Nguyen Du</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-sub-label"> </label> </td>
                      <td> <label class="form-default-label">Kim Tran</label> </td>
                    </tr>

                    <tr>
                      <td> <label class="form-control-sub-label"> </label> </td>
                      <td> <label class="form-default-label">Khanh Nguyen</label> </td>
                    </tr>

                    <tr>
                      <td> <label class="form-control-sub-label"> </label> </td>
                      <td> <label class="form-default-label">Tuyet Bui</label> </td>
                    </tr>

                    <tr>
                        <td> <label class="form-control-label">Quality control</label> </td>
                        <td> <label class="form-default-label">Tuyet Bui</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-label"></label> </td>
                      <td> <label class="form-default-label">Kim Tran</label> </td>
                    </tr>

                    <tr>
                        <td> <label class="form-control-label">Technology</label> </td>
                        <td> <label class="form-default-label">Angular JS</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-label"></label> </td>
                      <td> <label class="form-default-label">Node JS</label> </td>
                    </tr>
                    <tr>
                        <td> <label class="form-control-label">Platform</label> </td>
                        <td> <label class="form-default-label">Website</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-label"></label> </td>
                      <td> <label class="form-default-label">iOS</label> </td>
                    </tr>
                    <tr>
                      <td> <label class="form-control-label"></label> </td>
                      <td> <label class="form-default-label">Android</label> </td>
                    </tr>
                </table>
            </form>

        </div>
        <div class="col-lg-9" style="background-color: #ECEFF1; height: 100%">
            <table class="table-file">
                <tr>
                    <td> <label><h2>Files</h2></label></td>
                    <td>
                        <i class="fa fa-cloud-upload" style="font-size: 25px;"></i>
                        <button type="submit" class="btn btn-primary">Close with Success</button>
                        <button type="submit" class="btn btn-primary">Close with fail</button>
                    </td>
                </tr>
            </table>

            <form role="form" class="form-files">
                <table style="width: 100%">
                  <tr>
                    <td style="width: 10%; padding-left: 5px">#</td>
                    <td style="width: 40%; padding-left: 5px">File</td>
                    <td style="width: 20%; padding-left: 5px">Upload date</td>
                    <td style="width: 20%; padding-left: 5px">User</td>
                    <td style="width: 10%; padding-left: 5px">Action</td>
                  </tr>
                </table>
            </form>
    </div>
    <!-- /.row -->

</div>
