<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Project
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0);" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Project
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="card col-xl-12" style="border: 0px">
            <div class="col-xl-2">
              <select class="form-control" >
                <option>BA</option>
                <option>Khang Tran</option>
                <option>Tuyet Bui</option>
                <option>Kim Tran</option>
                <option>Khanh Nguyen</option>
                <option>Nguyen Du</option>
              </select>
            </div>
            <div class="col-xl-2">
              <select class="form-control">
                <option>PM</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-xl-2">
              <select class="form-control">
                <option>Dev</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-xl-2">
              <select class="form-control">
                <option>Customer</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-xl-2">
              <select class="form-control">
                <option>Status</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-xl-2">
              <select class="form-control">
                <option>Technology</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
      </div>
    </div>
    <div class="row">
            <div class="card card-block col-xl-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Project Name</th>
                                <th>Customer</th>
                                <th>PM</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Socialobe</td>
                                <td>Alec</td>
                                <td>Khang Tran</td>
                                <td>01-Aug-2016</td>
                                <td>01-Jul-2017</td>
                                <td><span class="label label-info">In process</span></td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
