<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
          <div class="col-xl-6">
            <h2 class="page-header">
                User
            </h2>
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-fw fa-bar-chart-o"></i>  <a href="Javascript:void(0);" routerLink="/dashboard/project">Project</a>
              </li>
              <li class="active">
                <i class="fa fa-table"></i> User
              </li>
            </ol>
          </div>
          <div class="col-xl-6" style="text-align: right">
            <button class="btn btn-primary" (click)="CreateUserModal.show()"><i class="fa fa-plus" style="padding-right: 5px"></i> Create</button>
          </div>
        </div>
    </div>

        <div class="row">
            <div class="card card-block col-xl-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Skype</th>
                                <th>Birthday</th>
                                <th>Phone 1</th>
                                <th>Phone 2</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{user.get(userKeys.name)}}</td>
                                <td>{{user.get(userKeys.role)}}</td>
                                <td>{{user.get(userKeys.email)}}</td>
                                <td>{{user.get(userKeys.skype)}}</td>
                                <td>{{user.get(userKeys.birthday)}}</td>
                                <td>{{user.get(userKeys.phone_1)}}</td>
                                <td>{{user.get(userKeys.phone_2)}}</td>
                                <td>{{user.get(userKeys.address)}}</td>
                                <td><i (click)="EditUserModal.show()" style="color:blue; padding-right:10px" class="fa fa-edit"></i><i (click)="ConfirmDeleteModal.show()" style="color:red" class="fa fa-remove"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>


<!--START Modal Create new user-->
<div bsModal #CreateUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="CreateUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{modalTitle}}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name: </label>
            <div class="col-sm-9"><input class="form-control" name="userFullName" [(ngModel)]="userFullName" placeholder="Name"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" >Role: </label>
            <div class="col-sm-9"><input class="form-control" name="userRole" [(ngModel)]="userRole" placeholder="Role"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Email: </label>
            <div class="col-sm-9"><input class="form-control" name="userEmail" [(ngModel)]="userEmail" placeholder="Email"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Password: </label>
            <div class="col-sm-9"><input class="form-control" name="userPass" [(ngModel)]="userPass" placeholder="Pass" type="password"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Skype: </label>
            <div class="col-sm-9"><input class="form-control" name="userSkype" [(ngModel)]="userSkype" placeholder="Skype"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Birthday: </label>
            <div class="col-sm-9"><input class="form-control" name="userBirthDay" type="date" [(ngModel)]="userBirthDay" placeholder="Birth day"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Phone 1: </label>
            <div class="col-sm-9"><input class="form-control" name="userPhone1" [(ngModel)]="userPhone1" placeholder="Telephone number 1"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Phone 2: </label>
            <div class="col-sm-9"><input class="form-control" name="userPhone2" [(ngModel)]="userPhone2" placeholder="Telephone number 2"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Address: </label>
            <div class="col-sm-9"><input class="form-control" name="userAddress" [(ngModel)]="userAddress" placeholder="Address"></div>
          </div>
          <div style="text-align: right;">
            <button type="button" class="btn btn-secondary" aria-hidden="true">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveUser()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END Modal Create new user-->

<!--START Modal Confirm delete-->
<div bsModal #ConfirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="ConfirmDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Delete item</h5>
      </div>
      <div class="modal-body">
        <form>
          Are you sure to delete this item?
          <div style="text-align: right;">
            <button type="button" class="btn btn-secondary" (click)="ConfirmDeleteModal.hide()" aria-hidden="true">Close</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END Modal Modal Confirm delete-->

